*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', Verdana, sans-serif;
  background-image: linear-gradient(135deg, #026670, #9fedd7);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0 0 5px 0;
}

ul, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  transition: 0.2s ease;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* variables */
:root {
  --brown: #572d2d;
  --offwhite: #fef9c7;
  --yellow: #fce181 ;
}

/* header / footer */
header,
footer {
  position: fixed;
  background-color: var(--brown);
  color: var(--offwhite);
  text-align: center;
  z-index: 1;
}
header {
  padding: 20px;
  width: 100%;
  letter-spacing: 2px;
}
footer {
  padding: 10px;
  bottom: 0;
  width: 100%;
}
header button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 18px;
  font-size: 36px;
  border-radius: 5px;
  border: 1px solid var(--offwhite);
  background-color: transparent;
  color: var(--offwhite);
}
header button:hover {
  background-color: var(--offwhite);
  color: var(--brown);
}
footer a { font-size: 14px; }
footer a:hover { color: var(--yellow); }


/* form */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-form {
  padding: 24px;
  position: fixed;
  background: var(--offwhite);
  color: var(--brown);
  box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}
.open { 
  display: block;
}
.form-close {
  float: right;
  margin-top: -22px;
  margin-right: -22px;
  border: none;
  background-color: transparent;
  color: var(--brown);
  font-size: 16px;
}
.form-close:hover {
  color: red;
}
.add-book {
  flex: 1;
}
.add-book h3 {
  margin-bottom: 20px;
}
.add-book > input {
  margin: 8px 0;
  display: block;
}
.add-book > label { font-size: 14px; }
#status { display: inline-block; }
.add-book-button {
  margin-top: 8px;
  padding: 10px;
  width: 100%;
  display: block;
  border: none;
  border-radius: 5px;
  background-color: var(--brown);
  color: var(--offwhite);
  transition: none;
}
.add-book-button:hover { 
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5); 
}

/* library */
.library {
  padding-top: 104px;
  padding-bottom: 60px;
  margin: 0 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* book */
.book {
  position: relative;
  border-radius: 5px;
  background-color: #fce181;
}

.book:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: 50%;
}

.book-img {
  margin: 10px;
  float: left;
  width: 40%;
  height: calc(100% - 20px);
  background-color: rgba(255, 255, 255, 0.445);
}

.book-info {
  padding: 5px;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  overflow: hidden;
  text-align: right;
  font-size: 12px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  color: var(--brown);
  background-color: transparent;
  font-size: 18px;
}
.delete:hover { color: red; }

.book-info button {
  margin-top: 4px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--brown);
}

.book-info button:hover {
  background-color: var(--offwhite);
}

/* typography */
.book-title {
  font-size: 16px;
  font-weight: 800;
}
.book-author {
  margin-bottom: 50px;
  font-size: 14px;
  font-style: italic;
}

[class^="status-"] { font-style: italic; }
.status-read { color: green; }
.status-unread { color: red; }

/* fields error */
.error {
  border: 3px solid red;
}